body {
    text-align: center;
    background-image: url("../images/background/abstract.jpg");
    background-repeat: repeat;
    background-color:#29548d;
    font-family: 'Audiowide';
    color: blanchedalmond;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgb(226, 162, 172);
}

ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar > ul > li {
    float: left;
}

#navbar > ul > li a {
    display: block;
    padding: 8px;
    color: blanchedalmond;
    text-shadow: 1px 1px 2px rgb(226, 162, 172);
    background-color: #000000b7;
}