#games {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

#games > .cover{
    margin: 6px;
}
.names .cover{
    flex: 0 0 100%
}

form {
    display: inline-block;
}

#errors{
    color: red;
}
