table {
    border: 5px solid white;
    border-collapse: collapse;
    width: 100%;
    
  }

tr {
    height: 100%;
    border: 5px solid white;
}

th {
    border: 5px solid white;

}

img {
    width:20%;
    float:left;
}