body {
    text-align: center;
    background-image: url("../images/background/abstract.jpg");
    background-repeat: repeat;
    background-color:#29548d;
    font-family: 'Audiowide';
    color: blanchedalmond;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgb(226, 162, 172);
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 33.3%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#errors{
    color: red;
}