<ul>
    <li><a href="index">Home</a></li>
    <li><a href="signup">Signup</a></li>
    <li><a href="">News</a></li>
    <li><a href="forum">Forum</a></li>
    <li><a href="">About</a></li>
    <li><a href="renegade-bucks-shop">RenegadeBucks Shop</a></li>
    <li><a href="my_orders">My orders</a></li>
    <li><a href="my_profile">My profile</a></li>
</ul>