@main(title = "RenegadeBucks Shop", css = List("bucks_shop.css")) {

} {
    <center>
      <h1>RenegadeBucks Shop</h1>
    </center>
  
    <div class="row"></div>
    @for(i <- 1 to 4) {
        <div class="column">
          <div class="card">
            <img class ="center-block" src='resources/images/shop_offers/Offer_@{i + ".png"}' alt="offer_@i">
            <form action="reload/@i">
                <input type="submit" value="BUY" />
            </form>
          </div>
        </div>
    }   
}