@(username: String, topic: poca.Topic, messageList: Seq[poca.Message])

@main(title = "Forum Topic", css = List("forum.css")) {

} {
  <h1>@topic.subject</h1>

  <table>

    <thead>
      <tr>
        <th>AUTHOR</th>
        <th>MESSAGE</th>
        <th>DATE-TIME</th>
      </tr>
    </thead>

    <tbody>
      @for(message <- messageList) {
        <tr>
          <td>@username</td>
          <td>@message.content</td>
          <td>@message.date_hour</td>
        </tr>
      }
    </tbody>

  </table><br>

  @if(username != ""){
    <form action=/forum/@topic.topic_id/@replaceSpace(topic.subject) method="post">
      <label for="message">Send a new message</label><br>
      <input type="text" name="message" required><br>
      <input type="submit" value="Send">
    </form>
  }

  @if(username == topic.author){
    <form action="/forum" method="post">
      <button name="closeButton" value=@topic.topic_id>Close</button>
    </form>
  }
}
