@(topicsList: Seq[poca.Topic], close: Boolean)

@main(title = "Index Forum", css = List("forum.css")) {

} {
  <h1>WELCOME TO THE FORUM</h1>

  @if(close){
    <p>Your topic has been deleted</p>
  }

  <table>

    <thead>
      <tr>
        <th>AUTHOR</th>
        <th>SUBJECT</th>
      </tr>
    </thead>

    <tbody>
      @for(topic <- topicsList) {
        <tr>
          <td>@topic.author</td>
          <td> <a href="/forum/@topic.topic_id/@replaceSpace(topic.subject)">@topic.subject</a> </td>
        </tr>
      }
    </tbody>

  </table><br>

  <form action=/forum method="post">
    <label for="subject">Post a new topic</label><br>
    <input type="text" name="subject" required><br>
    <input type="submit" value="Create">
  </form>
}
