@(products: Seq[poca.Product], errors: List[String], username: String)

@main(title = "Index", css = List("index.css")) {
  <center>
    <h1>Renegade-Gaming</h1>
    <img
        src="/resources/images/logo/renegade-logo.png"
        alt="logo"
        height="250px"
        width="250px"
    />
  </center>
} {
  <center>
    <form action=/search method="get">
      <label for="game_name">Search for your game :</label><br>
      <input type="text" name="game_name" required="required"></input><br>
      <input type="submit" value="Search">
    </form>

    @if(username == "") {
      <h3>Signin</h3>
      <form action=/signin method="post">
        <div id="errors">
          @for(error <- errors) {
            <li>@error</li>
          }
        </div>
        <label for="username">Username :</label><br>
        <input type="text" name="username" required></input><br>
        <label for="password">Password :</label><br>
        <input type="password" name="password" required></input><br>
        <input type="submit" value="Send">
      </form>
    } else {
      <h3>Welcome @username !</h3>
      <form action=/disconnect method="post">
        <button name="disconnectButton" value="disconnect">Disconnection</button>
      </form>
    }
    <p> Welcome to our website.</i> <br>
      <p style="font-size:60%;">
        Buy. <br>
        Trade. <br>
        Play.
      </p>
    </p>
  </center>         
  <div class ="container"></div>
    <div class="row">
      @for(product <- products) {
      <div class="col-lg-3 col-md-4 col-xs-6" text-align="center">
        <a class="cover" href="/game-@product.product_id-@replaceSpace(product.product_name)">
          <img src="/@product.image" alt="@product.product_name">
        </a>  
        <div class="caption center-block">@product.product_name</div>
      </div>  
      }
    </div>
    <center>
      <div style="width:800px;">
        <div style="width:375px; float:left;">
          <p> Our partners : </i> <br>     
            <a href="https://store.steampowered.com/"><img
               src="/resources/images/logo/steam-logo.png"
               alt="logo"
               height="50px"
               width="50px"
            /></a>
            <a href="https://www.origin.com/"><img
               src="/resources/images/logo/origin-logo.png"
               alt="logo"
               height="50px"
               width="50px"
            /></a>
            <a href="https://uplay.ubisoft.com/"><img
               src="/resources/images/logo/uplay-logo.png"
               alt="logo"
               height="50px"
               width="50px"
            /></a>
            <a href="https://www.rockstargames.com/"><img
               src="/resources/images/logo/rockstar-logo.png"
               alt="logo"
               height="50px"
               width="50px"
            /></a>    
          </p>
        </div>
        <div style="width:375px; float:right;">
          <p> About us :</p>
          <p style="font-size:60%;"> 
            An e-commerce website created by <br> 
            <i>The Renegades</i>.
          </p>
        </div>
      </div>
      <div style="clear: both;"></div>
    </center>
  </div>
}
