@(errors: List[String])

<form action=/keys_adder method="post">
    <div id="errors">
      @for(error <- errors) {
      <li>@error</li>
      }
    </div>
    <label for="code">Code</label><br>
    <input type="text" name="code"></input><br>
    <label for="product_id">Product ID</label><br>
    <input type="text" name="product_id"></input><br>
    <input type="submit">
  </form>