@(orders: Seq[(String, String, String, String)])

@main(title = "My Order", css = List("orders.css")) {

} {
  <form action=/search method="get">
    <label for="game_name">Search for your game :</label><br>
    <input type="text" name="game_name" required="required"></input><br>
    <input type="submit" value="Search">
  </form>

  <table>
    <tr>
      <th>Game</th>
      <th>Key</th>
    </tr>
    @for(order <- orders) {
    <tr>
      <td>@order._1  
        <br>@order._4</br>
        <img src="@order._2" alt="@order._1">
      </td>
      <td>@order._3</td>
    </tr>
    }
  </table>
}
