@(product: poca.Product, user: poca.User)

@main(title = "Payment", css = List("payment.css")) {

} {
  <form action=/search method="get">
    <label for="game_name">Search for your game :</label><br>
    <input type="text" name="game_name" required="required"></input><br>
    <input type="submit" value="Search"/>
  </form>

  <p>YOUR ORDER</p>

  <p>@product.product_name</p>

  <img src="@product.image" alt="@product.product_name"/>

  <p>Price : @product.price</p>

  <p>Your wallet : @user.wallet</p>

  @if(user.wallet >= product.price) {
  <form action="/payment" method="post">
    <input type="hidden" name="product_id" value="@product.product_id"/>
    <input type="hidden" name="user_id" value="@user.user_id"/>
    <input type="submit" value="BUY"/>
  </form>
  } else {
  <button type="button" disabled>BUY</button>
  }
}
