@(product: poca.Product, availability: Boolean, inCart: Boolean, message: String)

@main(title = "Index") {

} {
  <form action=/search method="get">
    <label for="game_name">Search for your game :</label><br>
    <input type="text" name="game_name" required="required"></input><br>
    <input type="submit" value="Search">
  </form>

  <div class="container">
    <div class="row justify-content-center">
      <a class="cover">
        <img class ="center-block" src="@product.image" alt="@product.product_name">
      </a>  
    </div>

    <p>super msg : @message</p>

    <div class="col-xs-1 text-center">

      @if(inCart) {
        <button type="button" disabled>In cart</button>
      } else if (availability) {
      <form action="/game-@product.product_id-@replaceSpace(product.product_name)" method ="post">
        <input type="hidden" name="product_id" value="@product.product_id"/>
        <input type="submit" value="BUY"/>
      </form>
      } else {
      <button type="button" disabled>BUY</button>
      }

      <div class="name">@product.product_name</div>
    
      <p>Description :  @product.description</p>
      <p>Release date : @product.release_date</p>
      <p>Price :        @product.price</p>
      <p>Os :           @product.os</p>
      <p>Processor :    @product.processor</p>
      <p>Memory :       @product.memory</p>
      <p>Graphics :     @product.graphics</p>
      <p>Storage :      @product.storage</p>
      <p>Partner :      @product.partner</p>
    </div>
  </div>
}
