@(errors: List[String])

<form action=/promo_adder method="post">
    <div id="errors">
        @for(error <- errors) { <li>@error</li>
            }
    </div>
    <label for="promo_id">Promo id</label><br>
    <input type="text" name="promo_id"></input><br>

    <label for="product_id">Product id</label><br>
    <input type="text" name="product_id"></input><br>

    <label for="promo">Promo value</label><br>
    <input type="number" name="promo" min="1" max="100"></input><br>
    <input type="submit">
</form>