@(keys : List[String])

@main(title = "Receipt", css = List("receipt.css")) {

} {
  <form action=/search method="get">
    <label for="game_name">Search for your game :</label><br>
    <input type="text" name="game_name" required="required"></input><br>
    <input type="submit" value="Search">
  </form>

  <p>YOUR RECEIPT</p>

  <p>Thank you for your purchase !</p>

  <p>YOUR KEY : @for(key <- keys){ @key <br/>} </p>
}
