@(products: Seq[poca.Product])

@main(title = "Search", css = List("search.css")) {

} {
  <form action=/search method="get">
    <label for="game_name">Search for your game :</label><br>
    <input type="text" name="game_name" required="required"></input><br>
    <input type="submit" value="Search">
  </form>

  @if(products.length == 0) {
  <p>No result found</p>
  } else {                 
  <div class ="row">
    @for(product <- products) {
    <div class="column">
      <a class="cover" href="/game-@product.product_id-@replaceSpace(product.product_name)">
        <img src="@product.image" alt="@product.product_name">
      </a>  
      <div class="caption center-block">@product.product_name</div>
    </div>  
    }
  </div>
  }
}
