@(cart: Seq[(String, String, Float, String)], promos: List[(List[poca.Product], Float)], myCartValue: Float)

@main(title = "ShoppingCart", css = List("orders.css")) {

} {
    <center>
      <h1>Shopping Cart</h1>
    </center>

    <h2>Total Price: @myCartValue</h2>
    <table>
        <tr>
          <th>Game</th>
          <th>Price</th>
        </tr>
        @for(cartElement <- cart) {
        <tr>
          <td>@cartElement._1  
            <img src="@cartElement._2" alt="@cartElement._1">
          </td>
          <td>@cartElement._3</td>
        </tr>
        }
    </table>

    <h2>Promotions</h2>
    <table>
        <tr>
          <th>Game</th>
          <th>Promo</th>
        </tr>
        @for(promo <- promos) {
        <tr>
          <td>  
            @for(product <- promo._1) {
	    <img src="@product.image" alt="@product.product_name">
	    }
          </td>
          <td>@promo._2 %</td>
        </tr>
        }
    </table>

    <form  action="/payment-all" method="post">
        <input type="submit" value="BUY"/>
    </form>
}
