@(errors: List[String])

@main(title = "Signup", css = List("signup.css")) {
  <h1>SIGNUP</h1>
} {
  <p>Here you can signup to our website</p>
  
  <form action=/register method="post">
    <div id="errors">
      @for(error <- errors) {
      <li>@error</li>
      }
    </div>
    <label for="username">Username</label><br>
    <input type="text" name="username"></input><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"></input><br>
    <label for="email">Email</label><br>
    <input type="email" name="email"></input><br>
    <input type="submit">
  </form>
}
