@(user_profile: poca.User)

@main(title = "User Profile", css = List("user_profile.css")) {
    <h1>Your profile information</h1>
} {

    <div class="info">
        <p>Username: @user_profile.username</p>
        <p>Wallet  : @user_profile.wallet</p>
        @if(user_profile.is_admin) {
            <p>Status  : Admin</p>
        } else {
            <p>Status  : Member</p>
        }
        <p>Email   : @user_profile.email</p>
    </div>
}